.about-container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 100px;
    padding-left: 74px;
}

.left-panel {
    width: 50%;
}

.right-panel {
    width: 50%;
}

.right-panel img{
    vertical-align: middle;
}

.intro-sentence {
    font-size: 31px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    height: 18%;
}

.code-the-dream, 
.build-the-dream {
    display: block;
}

.introduce {
    font-size: 21px;
    width : 60%;
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

.story {
    color: white;
    display: block;
    padding-top: 33px;
    justify-content: space-between;
    font-size: 26px;

}
.resume {
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Bungee Shade', cursive; */
    color: var(--old-amber) !important;
}
.resume:hover {
    text-decoration: underline;
    color: var(--old-amber);
    text-underline-offset: 0.2em;
    font-style: italic;
    -webkit-tap-highlight-color: transparent;

}
.fa-linkedin {
    color: #0a66c2;
}

.memoji {
    position: relative;
    top: 7%;
    width: 500px;
    height: 400px;
    float: right;
    margin-right: 143px;
    /* margin-top: 78px; */
}

@media screen and (max-width: 1920px) {
    .memoji {
        margin-right: 30%;
    }
}

/* mobile */
@media ( min-width: 768px ) {
    .memoji {
        display: none;
    }
}
@media ( min-width: 1024px ) {
    .memoji {
        display: none;
    }
}
