.projects-carousel {
    width: 100%;
    height: 101vh;
}

.projects-container {
    width: 100%;
    padding-top: 50px;
    padding-left: 74px;
    display: block;
}

.projects {
    font-size: 31px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    height: 18%;

}

.projects-grid {
    margin-top: 26px;
    color: black;
}

.paper-grid {
    display: flex;
    margin-top: 26px;
}

.dailyDesk, .CISC {
    width: 212px;
    height: 111px;
    border-radius: 8px;
    text-align: center;
    background-color: whitesmoke;
    vertical-align: middle;
    display: table-cell;
    font-size: 19px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: transform .2s;
}

.dailyDesk:hover {
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}


.default-bgc {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: fadeIn .7s linear;

}

.dailyDesk-bgc {
background: #ED4264;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
animation: fadeIn .7s linear;

}

.paper-bgc {
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
animation: fadeIn .7s linear;

}