#soundcloud {
    /* width: 481px; */
    float: right;
    padding-right: 83px;
}

/* .sound__waveform, .compactSound__artwork sc-media-left {
    display: none;
}

.sound__artwork {
    display: none !important; 
}

.sc-widget {
    height: 63px;
} */